body {
  background-color: lightsteelblue; 
  margin: 1; }
img {
  height: 300px; }
.banner { 
  position: sticky; 
  backgroud-color: violet; 
  display: flex; }
.banner > div {
  flex: 1; 
  font-family: helvetica, sans-serif; 
  color: white; 
  text-decoration: none; }
.body { 
  display: flex; 
  color: black; 
  font-family: helvetica, sans-serif; }
.body > div { 
  margin: 0.5; }
.button { 
  backgroud-color: violet; 
  font-family: helvetica, sans-serif; 
  color: black;
  text-decoration: none; }
h1 {
  color: black; 
  font-family: helvetica, sans-serif; 
  text-align: center; 
  display: inline; 
  border: solid, black; }
h2 {
  color: black; 
  font-family: helvetica, sans-serif; 
  text-align: center; }
