body {
  background-color: lightsteelblue; 
  margin: 25px; }
img {
  height: 300px; }
.banner { 
  position: sticky; 
  background-color: white; 
  display: flex; 
  flex: 1; 
  font-family: helvetica, sans-serif; 
  color: black; 
  text-decoration: none; }
.banner > div {
  flex: 1; 
  font-family: helvetica, sans-serif; 
  color: black; 
  text-decoration: none; }
.body { 
  display: flex; 
  color: black; 
  font-family: helvetica, sans-serif; 
  margin: 10px; }
.body > div { 
  margin: 10px; }
.button { 
  background-color: white; 
  font-family: helvetica, sans-serif; 
  color: black;
  text-decoration: none; 
  text-align: center; 
  display: inline; }
a { 
  background-color: white; 
  font-family: helvetica, sans-serif; 
  color: black;
  text-decoration: none; 
  text-align: center; 
  display: inline; }
h1 {
  color: black; 
  font-family: helvetica, sans-serif; 
  text-align: center; 
  display: inline; 
  border: solid, black; 
  margin: 5px; }
h2 {
  color: black; 
  font-family: helvetica, sans-serif; 
  text-align: center; }
p {
  margin: 10px; }
