body {
  background-color: lightsteelblue; 
  margin: 25px; }
img {
  height: 300px; }
.banner ul {
  display: flex; 
  flex: 1; 
  font-family: helvetica, sans-serif; 
  color: black; 
  text-decoration: none; 
  list-style-type: none; }
.page {
  flex: 1; 
  font-family: helvetica, sans-serif; 
  color: black; 
  text-decoration: none; 
  background-color: white; 
  padding: 5px}
.active { 
  flex: 1; 
  font-family: helvetica, sans-serif; 
  color: white; 
  background-color: black; 
  text-decoration: none;  
  text-align: center; 
  display: inline-block; 
  padding: 5px; }
li a:hover:not(.active) {
  flex: 1; 
  font-family: helvetica, sans-serif; 
  color: black; 
  background-color: lightsteelblue; 
  text-decoration: none;  
  text-align: center; 
  display: inline-block; 
  padding: 5px; 
}
.body { 
  display: flex; 
  color: black; 
  font-family: helvetica, sans-serif; 
  margin: 10px; }
.body > div { 
  margin: 10px; }
.body2 { 
  display: flex; 
  color: black; 
  font-family: helvetica, sans-serif; 
  margin-right: 250px; 
  margin-left: 250px; }
.body2 > div { 
  margin: 10px; }
.button { 
  background-color: white; 
  font-family: helvetica, sans-serif; 
  color: black;
  text-decoration: none; 
  text-align: center; 
  display: inline; 
  padding: 3px; }
h1 {
  color: black; 
  font-family: helvetica, sans-serif; 
  text-align: center; 
  display: block; 
  border: solid, black; 
  margin: 5px; }
h2 {
  color: black; 
  font-family: helvetica, sans-serif; 
  text-align: center; }
p {
  margin: 10px; }
